<% include ../include/header %> 	
    <style>
		.main table th,td{
			text-align: center;
		}
		.main table th:nth-child(2),td:nth-child(2){
			text-align: left;
		}
    </style>
</head>
<body>						
	<% include ../include/nav_menu %>
	<div>
		<div class="main">
			<div class="col-lg-12">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				  		<div class="row">
				  			<div class="col-lg-12">
								<a href="archive/new" type="button" class="btn btn-danger btn-sm">
									<span class="glyphicon glyphicon-plus"></span> 添加用户
								</a>
								<a href="archive/category" type="button" class="btn btn-default btn-sm" id="btn-uploadfile">
									<i class="glyphicon glyphicon-list"></i>
									用户组
								</a>
						  	</div>	
				  		</div>			  				    	
				  	</div>
				  	<div class="panel-body">
				    	<div class="col-lg-12">
				    		<form action="" role="form" class="form-inline">			
				    			<select class="form-control input-sm">
								  	<option>全部用户</option>
							  		<%/* categorylist.forEach(function(item){ %>
								    	<option value="<%=item._id %>">
								    		<% for(var m = 0; m < item.level; m++){ %>
												<script>
													document.write("|---");
												</script>
					    					<% } %>
					    					<%= item.name %>
								    	</option>
								    <%}) */%>	
								</select>							
								<button class="btn btn-default btn-sm">
									筛 选
								</button>								
				    		</form>
				    	</div>
				    	<div class="col-lg-12">
				    		<table class="table table-hover">
				    			<thead>
				    				<th class="col-lg-1">选择</th>
				    				<th class="col-lg-4">标题</th>
				    				<th class="col-lg-1">栏目</th>
				    				<th class="col-lg-1">查看</th>
				    				<th class="col-lg-2">时间</th>
				    				<th class="col-lg-1">操作</th>
				    			</thead>
				    			<tbody>
				    				<%/* archivelist.forEach(function(item){ %>
					    				<tr>
					    					<td>
					    						<input type="checkbox" name="" id="">
					    					</td>
					    					<td>
					    						<a href="/admin/archive/edit/<%=item._id%>">
					    							<%=item.title %>
					    						</a>				    						
					    					</td>					    				
					    					<td>
					    						日志
					    					</td>
					    					<td>
					    						18
					    					</td>
					    					<td>
					    						<%= moment(item.meta.updateAt).format('YYYY-MM-DD HH:mm:ss') %>
					    					</td> 
					    					<td>
					    						<a class="btn btn-success btn-xs" role="button" href="/admin/archive/edit/<%=item._id%>">	
					    							<i class="glyphicon glyphicon-pencil"></i>		  		
					    						</a>
					    						<a class="btn btn-danger btn-xs" role="button" href="/admin/archive/trash/<%=item._id%>">			
					    							<i class="glyphicon glyphicon-trash"></i>			
					    						</a>	
					    					</td>
					    				</tr>
				    				<% }) */%>
				    			</tbody>
				    		</table>
				    	</div>
				  	</div>
				</div>
			</div>			
		</div>
				
	</div>	
			
	<script src="/javascripts/jquery2.1.4.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>		
</body>
</html>